*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'light';
    src: url('../fonts/Montserratarm-Light.otf');
}
@font-face {
    font-family: medium;
    src: url('../fonts/Montserratarm-Medium.otf');
}
@font-face {
    font-family: bold;
    src: url('../fonts/Montserratarm-Bold.otf');
}
body {
    background-color: #F4F4F4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
main {
    background: #ffffff;
    border-radius: 30px;
    border: 1px solid #ffffff;
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
    padding: 50px;
}
form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.login__div , .password__div {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
}
form div input {
    width: 300px;
    padding: 10px 0 10px 10px;
    background: #F7F7F7;
    font-style: normal;
    font-weight: normal;
    outline: none;
    font-size: 15px;
    line-height: 18px;
    color: #9B9B9B;
    border: 1px solid #D3D3D3;
    box-sizing: border-box;
    border-radius: 10px;
}
label {
    font-family: medium;
    font-size: 16px;
    color: #0C5AA6;
}
h1 {
    cursor: pointer;
    font-family: medium;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    width: 169px;
    border-bottom: 2px solid transparent;
    line-height: 24px;
    text-transform: capitalize;
    color: #222222;
    text-align: center;
    margin-bottom: 10px;
}
.login_button {
    background: #0C5AA6;
    border-radius: 10px;
    height: 40px;
    outline: none;
    border: 1px solid #0C5AA6;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: medium;
    font-style: normal;
    font-weight: 500;
    cursor: pointer;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}
.error {
    font-family: medium;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    width: 300px;
    color: red;
}
a {
    font-family: medium;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #0C5AA6;
}