@font-face {
    font-family: 'light';
    src: url('../fonts/Montserratarm-Light.otf');
}
@font-face {
    font-family: medium;
    src: url('../fonts/Montserratarm-Medium.otf');
}
@font-face {
    font-family: bold;
    src: url('../fonts/Montserratarm-Bold.otf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    background-color: #F4F4F4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.login_main{
    display: flex;
    width: 770px !important;
    flex-direction: column;
    align-items: center;
    row-gap: 23px;
    height: max-content;
    padding: 72px 31px 54px 30px;
    border-radius: 10px;
    background: #FFFFFF;
}
.login_div_main{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
label {
    font-family: medium, serif ;
    font-size: 15px;
    color: #0C5AA6;
    margin-bottom: 5px;
}
form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.passwords, .email__and__phoneNumber , .fitsName__and__lastName {
    display: flex;
    align-items: center;
    column-gap: 80px;
    justify-content: space-between;
}
/* Register */
.container{
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    -webkit-box-shadow: 10px 10px 50px 18px #2B2E3C;
    box-shadow: 10px 10px 50px 18px #2B2E3C;
}
.container .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container .title > span{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
}
.terms{
    font-family: light, serif ;
    font-size: 13px;
    color: #000000;
}
.container .title > span::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 80px;
    border-radius: 5px;
    background: #2B2E3C;
}
.content {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.user-details{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    row-gap: 10px;
}
form .input-box span.details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.input-box {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
}
.login_logo {
    display: flex;
    width: 290px;
    align-items: center;
    justify-content: center;
}
.user-details .input-box input{
    height: 45px;
    width: 300px;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #0C5AA6;
}
form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
}
.gender-details {
    margin-top: 20px;
}
.gender-title {
    font-family: medium, serif ;
    font-size: 15px;
    color: #0C5AA6;
}
form .category{
    display: flex;
    width: 80%;
    margin: 10px 0 ;
    justify-content: space-between;
}
.terms_and_conditions{
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-family: light, serif ;
    font-size: 13px;
    color: #000000;

}
.freelance_am_text_register{
    color: #2B2E3C;
    font-size: 25px;
    font-weight: 700;
}
form .category label{
    display: flex;
    align-items: center;
    cursor: pointer;
}
form .category label .dot{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}
#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three{
    background: #0C5AA6;
    border-color: #d9d9d9;
}
form input[type="radio"]{
    display: none;
}
form .button{
    height: 45px;
    margin: 35px 0
}
form .button input{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #0C5AA6;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: #0C5AA6;
}
form .button input:hover{
    background: transparent;
    color: #0C5AA6;
}
.error {
    font-family: light, serif ;
    font-size: 13px;
    color: red;
}