<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login page</title>
    <link rel="stylesheet" th:href="@{../assets/css/login.css}">
</head>
<body>
<main>
    <h1>Login page</h1>
    <p th:if="${loginError}" class="error">Wrong user or password</p>
    <!--/*@thymesVar id="userDTO" type="sahak.sahakyan.maxmi.dto.UserDTO"*/-->
    <form th:action="@{/authenticate}" th:object="${userDTO}" method="post">
        <div class="login__div">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" th:field="*{username}" autofocus="autofocus"/> <br/>
        </div>
        <div class="password__div">
            <label for="password">Password:</label>
            <input type="password" id="password" th:field="*{password}" name="password"/> <br/>
        </div>
        <a href="#" onclick="window.location.href = 'registration'">Registration</a>
        <input class="login_button" type="submit" value="Log in"/>
    </form>
</main>
</body>
</html>