<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{../assets/css/welocome.css}">
    <link rel="stylesheet" th:href="@{../assets/css/loader.css}">
    <title>Title</title>
</head>
<body>

<div id="loader" class="loader"></div>


    <main>
        <p>Welcome To Our Store</p>
        <section>
            <a onclick="window.location.href = 'login'" class="header_2_acc">
                <button>Go to main page</button>
            </a>
        </section>
        <span>
            <img th:src="@{../assets/img/background.jpg}" alt="nkar">
        </span>
    </main>
<script th:src="@{../assets/js/loader.js}"></script>
</body>
</html>